article{
    padding: 3% 5% 5% 5%;
    height: 55vw;
}
h1 {
    color: #2d32af;
    border-bottom: 2px #2d32af solid;
}
.contact-list{
    color: #2d32af;
}
.contact-list > li{
    padding: 0.5vw;
}
.contact-list-item, .contact-list-no-link{
    text-decoration: none;
    color: #2d32af;
}
.contact-list-item:hover{
    color: red;
}