article{
    padding: 2% 5% 5% 5%;
    height: 55vw;
}
.extras-header{
    border-bottom: red solid 2px;
    color: red;
}
.extras-cat > h3{
    color: #2d32af;
    margin-bottom: 1%;
}
.extras-cat > p{
    margin-top: 0;
}
.twitch-link{
    text-decoration: none;
    text-align: center;
    position: relative;
}
.fa-play{
    display: none;
    color: black;
    position: absolute;
    z-index: 999;
    bottom: 0;
    left: 50%;
}
@media only screen and (max-width: 600px){
    .twitch-img{
        width: 100%;
    }
}
@media only screen and (min-width: 600px){
    .twitch-img{
        width: 20%;
    }
}
@media only screen and (min-width: 992px){
    .twitch-img:hover{
        cursor: pointer;
        opacity: 0.5;
    }
    .fa-play.hovered{
        display: inline;
    }
}
