main {
    background-color: #2d32af;
    clear: both;
    overflow: auto;
    padding: 25px 5%;
}
.ig-main-left{
    margin-top: 9%;
    float: left;
    clear: left;
    width: 50%;
}
.ig-main-left-text-container{
    color: white;
}
.ig-main-left-text-container > h1{
	font-size: 2.9vw;
	margin-bottom: 5px;
	margin-top: 0;
}
.ig-main-left-text-container > p{
    margin: 0;
    font-size: 1.4vw;
}
.ig-main-right{
    float: right;
    clear: right;
}
.ig-main-right-logo{
    height: auto;
    width: 26.5vw;
}
.ig-content{
    clear: both;
    overflow: auto;
    padding: 25px 5%;
}
#episodes{
    float: left;
    clear: left;
    width: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 2%;
    height: 49vh;
}
.episode {
	height: auto;
	margin-bottom: 60px;
}
.player {
	margin-top: 10px;
	/*background: url("../Images/loading.gif") center center no-repeat;*/
}
.season-title{
    color: red;
    width: 100%;
    border-bottom: solid red
}
.episode-title {
    color: #2d32af;
    font-size: 1.3rem
}
.ep-description {
	color: #2d32af;
}
/* width */
#episodes::-webkit-scrollbar {
width: 10px;
}
/* Track */
#episodes::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 30px;
}

/* Handle */
#episodes::-webkit-scrollbar-thumb {
	background: red;
	border-radius: 30px;
}
#ig-main-left-trailer{
	background-color: white;
    	border-radius: 3vh;
	padding: .5vh .5vw;
    	height: 5vh;
    	width: 25vw;
    	margin-top: 2.25vh;
}
#ig-main-left-trailer > svg{
	margin-top: 1vh;
	margin-left: 1.5vw;
	color: red;
}
#ig-main-left-trailer > span{
	margin-left: 2vw;
	color: #2d32af;
	overflow: hidden;
}
