main {
    background-color: #2d32af;
    clear: both;
    overflow: auto;
    padding-left: 5%;
    padding-right: 5%;
}
.ig-main-left-text-container{
    color: white;
}
.ig-content{
    clear: both;
    height: 100vh;
}
#episodes{
    float: left;
    clear: left;
    padding-right: 2%;
    height: 100%;
}
.episode, .episode-first {
    display: inline-block;
    padding-top: 1vh;
    padding-bottom: 2vh;
}
.episode {
    border-top: blue solid 1px;
	margin-bottom: -1%;
}
.player {
    float: left;
}
.player > svg:hover{
    cursor: pointer;
}
.ep-info{
	float: right;
	width: 85%;
}
.season-title{
    color: red;
    width: 100%;
    border-bottom: solid red;
    margin-bottom: 0;
}
.episode-title {
    color: #2d32af;
    font-size: 1.3rem;
    margin-bottom: 0;
}
.ep-description {
    color: #2d32af;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* width */
#episodes::-webkit-scrollbar {
    width: 10px;
}
/* Track */
#episodes::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 30px;
}
/* Handle */
#episodes::-webkit-scrollbar-thumb {
	background: red;
	border-radius: 30px;
}
#ig-main-left-trailer:hover{
    cursor: pointer;
    text-decoration: underline;
} 
#ig-icons > a > svg:hover{
    cursor: pointer;
    opacity: 0.8;
}
#ig-icons {
	margin-top: 2vh;
	text-align: center;
}
#ig-icons > a{
    text-decoration: none;
}
#ig-icons > a > svg{
	color: white;
	font-size: 2.5vw;
	margin-right: 2.375%;
	margin-left: 2.375%;
	overflow: auto;
    transition: opacity .2s ease-in;
}
#ig-content-rank{
    margin-left: 55%;
    height: 100%;
    color: #2d32af;
    display: none;
}
#ig-content-rank > h1{
    margin-bottom: 3px;
}
#ig-content-rank-game-overall{
    color: red;
}
.progress-background{
    background-color: #f1f1f1;
    width: 100%;
    border-radius: 4px;
}
.progress-foreground{
    height: 3.5vh;
    background-color: #2d32af;
    border-radius: 4px;
}
#ig-content-rank-progress-overall{
    background-color: red;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

@media only screen and (max-width: 768px) {
    main{
        padding-bottom: 7%;
        padding-top: 2%;
    }
	#episodes {
        width: 100%;
        margin-top: 5%;
	}
	#ig-content-rank {
		display: none;
	}
    main {
        text-align: center;
    }
	.player {
    		margin-top: 5%;
    		margin-left: 1%;
		font-size: 8vw;
    	}
    .ig-content{
        padding-left: 5%;
        padding-right: 5%;
    }
    .ig-main-left{
        margin-top: 1.5%;
        width: 100%;
    }
    .ig-main-right-logo{
        height: auto;
        width: 65%;
        border-radius: 1vw;
    }
    #ig-icons{
        display: none;
    }
    .ig-main-left-text-container > h1{
        display: none;
    }
    .ig-main-left-text-container > p{
        margin: 0;
        margin-top: 7%;
        padding-left: 3%;
        padding-right: 3%;
    }
    #ig-main-left-trailer{
        width: 45%;
        margin-top: 4vh;
        color: #2d32af;
        font-size: 3.25vw;
        padding: 2vw;
        border-radius: 1vw;
        display: inline-flex;
        background-color: white;
    }
    #ig-main-left-trailer > span {
        margin-top: 2%;
    }
    #ig-main-left-trailer > svg{
        margin-right: 4%;
        font-size: 5vw;
        color: red;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    main{
        padding-bottom: 20px;
        padding-top: 20px;
    }
	#episodes {
    	width: 50%;
    	overflow-y: scroll;
    	overflow-x: hidden;
	}
    .episode:hover,.episode-first:hover{
        background: #f1f1f1;
    }
	.player {
    	margin-top: 2.5%;
    	margin-left: 2.5%;
		font-size: 2.5vw;
    }
    .ig-content{
        padding: 25px 5%;
    }
    .ig-main-right{
        float: right;
        clear: right;
    }
    .ig-main-left{
        margin-top: 6%;
        float: left;
        clear: left;
        width: 50%;
    }
    .ig-main-right-logo{
        height: auto;
        width: 26.5vw;
    }
    .ig-main-left-text-container > h1{
        font-size: 2.9vw;
        margin-bottom: 5px;
        margin-top: 0;
    }
    .ig-main-left-text-container > p{
        margin: 0;
	margin-top: 1.5vh;
        font-size: 1.4vw;
    }
    #ig-main-left-trailer{
        width: 25vw;
        margin-top: 2vw;
        color: #2d32af;
        font-size: 1.7vw;
        padding: .75vw .75vw .75vw 2.75vw;
        border-radius: 6px;
        display: inline-flex;
        background-color: white;
        transition: opacity .2s ease-in;
    }
    #ig-main-left-trailer > svg{
        margin-right: 1vw;
        font-size: 2.2vw;
        color: red;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
