article{
    padding: 2% 5% 5% 5%;
}
h1 {
    color: #2d32af;
    border-bottom: 2px #2d32af solid;
}
.contact-list{
    color: #2d32af;
}
.contact-list > li{
    padding: 0.5vw;
}
.contact-list-item, .contact-list-no-link{
    text-decoration: none;
    color: #2d32af;
}
.contact-list-item:hover{
    color: red;
}
@media only screen and (max-width: 600px){ 
    #boyz-img{
        width: 100%;
    }
}
@media only screen and (min-width: 600px){
    #boyz{
        display: inline-block;
    }
    #boyz-img{
        float: left;
        width: 312px;
        margin-right: 17px;
        margin-bottom: 17px;
    }
    #boyz-description {
        max-width: 900px;
    }
    #boyz-description > p{
        margin-top: 0;
    }
    .contact-list-item, .contact-list-no-link {
        font-size: 125%;
    }
    h1{
        font-size: 150%; 
    }
}
@media only screen and (min-width: 992px){
}
