article{
    padding: 3% 5% 5% 5%;
}
h1 {
    color: #2d32af;
    border-bottom: 2px #2d32af solid;
}
.contact-list{
    color: #2d32af;
}
.contact-list > li{
    padding: 0.5vw;
}
.contact-list-item, .contact-list-no-link{
    text-decoration: none;
    color: #2d32af;
}
.contact-list-item:hover{
    color: red;
}
@media only screen and (max-width: 600px){ 
    #boyz-img{
        width: 100%;
    }
}
@media only screen and (min-width: 600px){
    #boyz{
        display: inline-block;
    }
    #boyz-img{
        width: 45%;
        float: left;
    }
    #boyz-description{
        float: right;
        width: 51%;
    }
    #boyz-description > p{
        margin-top: 0;
        margin-bottom: 3%;
        font-size: 1.75vw;
    }
    .contact-list-item, .contact-list-no-link {
        font-size: 125%;
    }
    h1{
        font-size: 150%; 
    }
}
@media only screen and (min-width: 992px){
    #boyz-img{
        width: 30%;
    }
    #boyz-description{
        width: 53%;
        margin-right: 12%;
    }
    #boyz-description > p{
        font-size: 1.4vw;
    }
}