body {
	background-color: white;
}
.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 93%;
}
.center-block > div > h1{
	background-color: rgba(45,50,175,0.9);
	color: white;
}
.center-block > div > h2{
	background-color: rgba(45,50,175,0.9);
	color: white;
}
@media only screen and (max-width: 3000px){
	.img-title {
		padding: 40px 0;
	}
}
@media only screen and (max-width: 480px){
	.img-title {
		padding: 20px 0;
	}
}
