/* CSS Document */
/* Notes: Blue:2d32af Red:e11932 */
* {
	box-sizing: border-box;
	font-family: Interstate;
}  
body {
	margin: 0;
}
.nav-bar {
	list-style-type: none;
	padding-top: 1vw;
	padding-bottom: 1vw;
	padding-left: 5%;
  	background-color: #2d32af;
	position: sticky;
	border-bottom: white solid 1px;
	overflow: hidden;
}
.nav-tab-logo{
	height: 4vw;
}
.nav-list {
	display: inline-flex;
  	font-size: 35px;
	text-align: center;
}
.nav-tab {
	text-decoration: none;
	color: white;
	font-family: Interstate;
	font-weight: bold;
	font-size: 1.6vw;
	margin-right: 15%;
	margin-top: 5%;
	vertical-align: middle;
	transition: text-decoration .2s ease-in;
}
.nav-list > a:hover {
	text-decoration: white underline solid
}
@media only screen and (max-width: 768px){
	.nav-bar{
		display: none;
	}
	#mobile-nav-logo-container{
		float: left;
		clear: right;
	}
	#mobile-nav-logo{
		width: 9vw;
		margin: 2% 5%;
	}
	#mobile-nav-bar{
		display: inherit;
		overflow: hidden;
		background-color: #2d32af;
	}
	#mobile-nav-list{
		display: none;
		margin-bottom: 5%;
	}
	#mobile-nav-list > a{
		width: 90%;
		color: white;
		padding: 14px 16px;
		text-decoration: none;
		text-align: center;
		font-size: 17px;
		display: block;
		border-top: white solid 1px;
		margin-left: 5%;
	}
	#mobile-nav-button {
		color: white;
		font-size: 9vw;
		height: auto;
		float: right;
		clear: right;
		margin: 2% 5%;
	}
  	#mobile-nav-list a:hover {
		background-color: white;
		color: #2d32af;
  	}
  	.active {
		background-color: #4CAF50;
		color: white;
  	}
}
@media only screen and (min-width: 768px){
	.nav-bar{
		display: inherit;
	}
	#mobile-nav-bar, #mobile-nav-logo-container,#mobile-nav-logo{
		display: none;
	}
}
