body {
	background-color: white;
}
.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 93%;
}
.Episode, .p {
	background-color: blue;
}
@media only screen and (max-width: 3000px){
	.img-title {
		padding: 40px 0;
	}
}
@media only screen and (max-width: 480px){
	.img-title {
		padding: 20px 0;
	}
}
