body {
	background-color: white;
}
.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 93%;
}
.center-block > .ep-list > div{
	background-color: rgba(45,50,175,0.9);
	border-radius: 6px;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.3);
	color: white;
	margin-left: auto;
	margin-right: auto;
}
.center-block > .ep-list > div > a > img{
	width: 300px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
h2 {
	text-align: center;
	font-weight: bold;
}
h3 {
	text-align: center;
}
footer {
	background-color: rgba(0,0,0,0.75);
	text-align: center;
}
@media only screen and (max-width: 3000px){
	.img-title {
		padding: 40px 0;
	}
	.center-block > .ep-list > div {
		width: 740px;
	}
	.center-block > .ep-list > div > a > img{
		width: 350px;
		height: 243px;
	}
	.wpac-rating {
		display: inherit;
		text-align:center;
	}
	footer {
		margin-top: 60px;
		padding: 50px 0 40px 0;
	}
}
@media only screen and (max-width: 480px){
	.img-title {
		padding: 20px 0;
	}
	.center-block > .ep-list > div {
		width: 100%;
	}
	.center-block > .ep-list > div > a > img{
		width: 300px;
		height: 208px;
	}
	.wpac-rating {
		display: inherit;
		text-align:center;
	}
	footer {
		margin-top: 30px;
		padding: 25px 0 20px 0;
	}
}
