body {
	font-family: Interstate;
	margin: 0;
}
footer {
	/*background-color: rgba(0,0,0,0.75);*/
	text-align: center;
}
.site-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 45%;
	margin-bottom: 40px;
	padding-top: 40px;
}
.nav-bar {
	margin-left: auto;
	margin-right: auto;
    border-top-color: #2d32af;
    border-top-style: solid;
	width: 65%;
	margin-bottom: 82px;
}
.nav-list {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
    overflow: hidden;
    font-size: 35px;
	text-align: center;
}
.nav-list > a {
	text-decoration: none;
	color: #2d32af;
	font-family: Interstate;
	font-weight: bold;
	margin-left: 5%;
	margin-right: 5%;
}
.nav-list > a:hover {
	color: #e11932;
}
#games {
}
.rating-ring{
	height: 120px;
	width: 120px;
	display: block;
}
.rating-circle {
	stroke: red;
	stroke-width: 4;
	fill: transparent;
  	transition: stroke-dashoffset 0.35s;
	r: 52;
	cx: 60;
	cy: 60;
}
.game {
	width: 60%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	background-color: #2d32af;
	border-radius: 5px;
}
.gImg{
	display: inline;
}
.game-title {
	color: white;
	margin-left: 20px;
	padding-top: 20px;
}
.game-description {
	color: whitesmoke;
	margin-left: 20px;
	margin-right: 20px;
}