footer {
	/*background-color: rgba(0,0,0,0.75);*/
	text-align: center;
}
.rating-ring{
	height: 120px;
	width: 120px;
	display: block;
}
.game {
	width: 60%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	background-color: #2d32af;
	border-radius: 5px;
}
.gImg{
	display: inline;
}
.game-title {
	color: white;
	margin-left: 20px;
	padding-top: 20px;
}
.game-description {
	color: whitesmoke;
	margin-left: 20px;
	margin-right: 20px;
}