#rankings-table{
	width: 80%;
	text-align: center;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border: #2d32af 2px solid;
	table-layout: fixed;
}
.rankings-table-header{
	background-color: #2d32af;
	color: white;
	font-weight: bold;
	font-size: 1.4vw;
}
.rankings-table-header > th {
	padding: 10px;
}
.rankings-table-row{
	padding: 10px;
}
.rankings-table-row > td{
	padding: 10px;
	font-size: 1.1vw;
}