article{
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#rankings-display-info{
	margin-top: 2.5vw;
	margin-bottom: 1.5vw;
	height: 25vw;
}
#rankings-display-img{
	width: auto;
	height: 80%;
}
#rankings-table{
	width: 80%;
	text-align: center;
	margin-top: 24%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border: #2d32af 2px solid;
	table-layout: fixed;
}
.rankings-table-header{
	background-color: #2d32af;
	color: white;
	font-weight: bold;
	font-size: 1.4vw;
}
.rankings-table-header > th {
	padding: 10px;
}
.rankings-table-header > th:hover{
	cursor: pointer;
	text-decoration: underline;
}
.rankings-table-row{
	padding: 10px;
}
.rankings-table-row:hover{
	background-color: #f1f1f1;
	cursor: pointer;
}
.rankings-table-row > td{
	padding: 10px;
	font-size: 1.1vw;
}
.rankings-table-row.selected{
	background-color: #f1f1f1;
}
td.sorted {
	color: red;
}
th.sorted {
	text-decoration: underline;
}
#peteChart, #kevChart {
	width: 45%;
	margin-bottom: 10px;
}
#kevChart{
	margin-left: 5%;
	float: right;
	clear: right;
}
#peteChart{
	margin-right: 5%;
	float: left;
	clear: left;
}
.p-rank, .k-rank {
	overflow: hidden;
	width: 100%;
	height: 40px;
	border: #2d32af solid 2px;
	margin-bottom: 10px;
}