article{
    padding: 3% 5% 5% 5%;
    height: 55vw;
}
.twitch-header{
    border-bottom: solid #2d32af 2px;
    color: #2d32af;
    margin-top: 0;
}
.projects-list{
    width: 10%;
    float: left;
    padding-right: 1%;
    margin-top: 1%;
    text-align: left;
    border-right: 2px solid red;
}
.project-tab{
    display: block;
    padding: 7%;
    border-radius: 2%;
    text-decoration: none;
    color: red;
    font-size: 1.5vw;
}
.project-tab:hover{
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
.projects-content{
    width: 85%;
    float: right;
}